﻿<div class="jumbotron">
    <h1>Planets</h1>
    <p class="lead">For wheater forecast for Solar System</p>
    <p>
        <a class="btn btn-secondary" target="_blank" href="https://drive.google.com/file/d/0B1uOF1PD7DE0aHljNnBjZGRSdkk/view?usp=sharing">Exam &#xBB;</a>
    </p>
    <p>
        <a class="btn btn-secondary" target="_blank" href="https://www.geogebra.org/graphing/ZYgv3qcV">Graphic Representation &#xBB;</a>
    </p>
    <p>
        <a class="btn btn-secondary" target="_blank" href="https://bitbucket.org/arielpineiro/planets">Source Code &#xBB;</a>
    </p>
    <p>
        <a class="btn btn-secondary" target="_blank" href="https://docs.google.com/presentation/d/1vYfXJYha5c3wtipVchlFZa5RwujRRRM9mQAW5NyqMcg/edit?usp=sharing">Stack</a>
    </p>
</div>
<div class="row">
    <div class="col-lg-4">
        <h2>GeoGebra</h2>
        <p>
            Is a multi-platform mathematics software that gives everyone the chance
            to experiencie the extraordinary insights that math makes possible
        </p>
        <p>
            <a class="btn btn-secondary" href="http://geogebra.org/">Learn more &#xBB;</a>
        </p>
    </div>
    <div class="col-lg-4">
        <h2>AppHarbor</h2>
        <p>
            AppHarbor is a fully hosted .NET Platform as a Service. AppHarbor can
            deploy and scale any standard .NET application to the cloud.
        </p>
        <p>
            <a class="btn btn-secondary" href="https://appharbor.com/">Learn more &#xBB;</a>
        </p>
    </div>
    <div class="col-lg-4">
        <h2>Bitbucket</h2>
        <p>
            Distributed version control system that makes it easy for you to collaborate
            with your team. The only collaborative Git solution.
        </p>
        <p>
            <a class="btn btn-secondary" href="https://bitbucket.org/">Learn more &#xBB;</a>
        </p>
    </div>
</div>