﻿@using Planets.Consts
<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="canonical" href="http://planets.apphb.com/" />
    <meta name="description" content="For wheater forecast for Solar System">
    <meta property="og:title" content="Planets" />
    <meta property="og:description" content="For wheater forecast for Solar System" />
    <meta property="og:image" content="//res.cloudinary.com/hvrjlggng/image/upload/v1472414231/home_x1mkap.jpg" />
    <link rel="stylesheet" href="@Application.Static.Stylesheet.Lib" type="text/css" />
    <link rel="stylesheet" href="@Application.Static.Stylesheet.App" type="text/css" />
    <link rel="icon" href="~/wwwroot/favicon.ico" type="image/x-icon" />
    <link rel="preconnect" href="//www.google-analytics.com" />
    <link rel="dns-prefetch" href="//www.google-analytics.com">
    <script>
        (function(h, o, t, j, a, r) {
            h.hj = h.hj || function() { (h.hj.q = h.hj.q || []).push(arguments) };
            h._hjSettings = { hjid: 243239, hjsv: 5 };
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script');
            r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, '//static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>
</head>
<body>
    <div class="navbar navbar-dark bg-dark fixed-top navbar-expand-md">
        <div class="container">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">&#x2630;</button> <a class="navbar-brand" href="/">Planets</a>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a href="/swagger/ui/index" class="nav-link">API</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Ariel Piñeiro</p>
            <a href="https://ar.linkedin.com/in/arielpineiro " target="_blank">About me</a>
        </footer>
    </div>

    <script type="text/javascript" src="@Application.Static.Javascript.Lib"></script>
    <script type="text/javascript" src="@Application.Static.Javascript.App"></script>

    <script type="text/javascript">
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] ||
            function() {
                (i[r].q = i[r].q || []).push(arguments);
            }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m);
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-76527108-1', 'auto');
    ga('send', 'pageview');
    </script>
    @RenderSection("scripts", false)
</body>
</html>