/* Write your stylesheet here. */
body {
    padding-bottom: 20px;
    padding-top: 50px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

input,
select,
textarea {
    max-width: 280px;
}

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

.jumbotron {
    background-image: url('//res.cloudinary.com/hvrjlggng/image/upload/v1472414231/home_cewaye.jpg');
    background-size: cover;
    color: gainsboro;
}

.container .jumbotron, .container-fluid .jumbotron {
    border-radius: 0;
}